.w-50.view-center
  = simple_form_for @client_app do |f|
    = f.input :name, label: t('client_app.name')
    = f.input :ip_address, label: t('client_app.ip_address')
    = f.input :permissions, label: t('client_app.permissions'), collection: ClientApp::PERMISSIONS, input_html: {:multiple => "multiple", class: 'selectpicker'}

    - if token = @client_app.access_token.presence
      .form-row
        .form-group.col-md-8
          %label= t('client_app.access_token')
          .form-control.access-token-view= token
          = f.input :access_token, as: :hidden, input_html: {class: 'access-token'}

        .form-group.col-md-4.d-flex.align-items-end
          %button.btn.btn-light.btn-regenerate-token{type: 'button'}
            %i.fas.fa-redo-alt
            = t('client_app.regenerate_token')

    = f.submit t('shared.save'), class: 'btn btn-primary'
    = link_to t('shared.cancel'), client_apps_path, class: 'btn btn-secondary'
