#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('client_app.client_app')
      - if policy(ClientApp).create?
        = link_to new_client_app_path, class: 'btn btn-primary' do
          %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @client_apps }

  - if @client_apps.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th= t('client_app.app_name')
          %th= t('client_app.creation_date')
          %th= t('client_app.ip_address')
          %th= t('client_app.access_token')
          %th= t('client_app.permissions')
          %th= t('client_app.status')
          %th
      %tbody
        - @client_apps.each do |client_app|
          %tr
            %td= client_app.name
            %td= l(client_app.created_at, format: :long)
            %td= client_app.ip_address
            %td
              %span= client_app.access_token
              %input.access-token{ value: client_app.access_token }
              %button.btn.btn-copy{ 'data-toggle' => 'tooltip', title: 'copy to clipboard' }
                %i.far.fa-copy
            %td= client_app.permissions.join(', ')
            %td{ class: ['status', ('active' if client_app.active?)] }
              = client_app.active? ? t('client_app.active') : t('client_app.inactive')
            %td
              .btn-group
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  - if policy(client_app).update?
                    = link_to edit_client_app_path(client_app), class: "btn dropdown-item" do
                      %i.fas.fa-pen.drop-menu-icon
                      %span= t('shared.edit')

                  - unless client_app.active?
                    = link_to activate_client_app_path(client_app), class: "btn dropdown-item" do
                      %i.fas.fa-check.drop-menu-icon
                      %span= t('client_app.activate')

                  - if client_app.active?
                    = link_to deactivate_client_app_path(client_app), class: "btn dropdown-item" do
                      %i.fas.fa-ban.drop-menu-icon
                      %span= t('client_app.deactivate')

                  = link_to client_app_path(client_app), method: :delete, class: 'btn dropdown-item', :data => {confirm: t('client_app.are_you_sure_to_delete')} do
                    %i.fas.fa-trash-alt.drop-menu-icon
                    %span= t('shared.delete')
