- content_for :header_title do
  = t('client_app.api_key')

.d-flex.justify-content-end.mb-3
  = render 'need_help_button'
  = render "shared/add_new_button", path: new_client_app_path, name: t('client_app.api_key') if policy(ClientApp).create?

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @client_apps }

    - if @client_apps.present?
      = render 'shared/pagination_title', name: t('client_app.api_key')

      %table.table.table-hover.medium-width
        %thead
          %tr
            %th= t('client_app.app_name')
            %th= t('client_app.creation_date')
            %th= t('client_app.ip_address')
            %th= t('client_app.access_token')
            %th= t('client_app.permissions')
            %th= t('client_app.status')
            %th= t('client_app.program') if current_user.system_admin?
            %th

        %tbody
          - @client_apps.each do |client_app|
            %tr
              %td= client_app.name
              %td= l(client_app.created_at)
              %td= client_app.ip_address
              %td
                %span= client_app.access_token
                %input.access-token{ value: client_app.access_token }
                %button.btn.btn-copy{ 'data-toggle' => 'tooltip', title: 'copy to clipboard' }
                  %i.far.fa-copy
              %td= client_app.permissions.join(', ')
              %td{ class: ['status', ('active' if client_app.active?)] }
                = client_app.active? ? t('client_app.active') : t('client_app.inactive')

              %td= client_app.program_name if current_user.system_admin?

              %td.text-right
                = render 'action_buttons', client_app: client_app

    = render 'shared/pagination'
