#content.position-relative
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('medisy.media_monitoring')

  = render 'filter'

  = render partial: "shared/no_data", locals: { items: @medisys_feeds }

  - if @medisys_feeds.present?
    = render 'medisys_feeds'

    - if @pagy.pages > 1
      .pagy-wrapper
        != pagy_bootstrap_nav(@pagy)

  .acknowledge
    .d-flex.flex-grow-1.align-items-center.justify-content-end
      %span.mr-1 EBS media monitoring is powered by
      = link_to "Medysis", "https://ec.europa.eu/jrc/en/scientific-tool/medical-information-system", target: '_blank', class: 'mr-1'
      = image_tag "medisys_logo.png", height: 20
