#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= "#{@milestone.name}: #{t('milestone.notification')}"

  .w-50.view-center
    = simple_form_for @message, url: milestone_message_path(@milestone), html: { id: 'message-form' } do |f|
      = f.input :message
      = render 'stepper_template_fields'

      = f.simple_fields_for :telegram do |tf|
        = tf.hidden_field :milestone_id, value: @milestone.id

        .form-group
          %label= t('milestone.chat_group')
          - @chat_groups.each_with_index do |chat_group, index|
            .form-check
              = check_box_tag "message[telegram_attributes][notification_chat_groups_attributes][#{index}][chat_group_id]", chat_group.id, @message.telegram.chat_group_ids.include?(chat_group.id), class: 'form-check-input', id: dom_id(chat_group)
              %label.form-check-label{for: dom_id(chat_group)}= chat_group.title

      = f.simple_fields_for :email_notification do |ef|
        = ef.input :emails, input_html: { id: 'notification-emails' }

      .actions
        = f.button :submit, class: 'btn btn-primary'
        = link_to t('shared.cancel'), milestone_message_path, class: 'btn btn-secondary'
