%li
  %fieldset.fieldset
    .field-wrapper
      %button.btn.move{type: :button}
        %i.fa.fa-arrows-alt

      .flex-row.flex1
        .wrapper.flex-row-vertical-center.flex1
          %button.btn.collapse-trigger{type: :button}
            %i.fas.fa-caret-right

          %abbr.abbr-required{:title => "required", class: ('hidden' if !f.object.required?)} *

          .flex1
            = f.hidden_field :field_type, class: 'field-type', 'data-field' => f.object.to_json
            = f.hidden_field :display_order, class: 'display-order'
            = f.text_field :name, placeholder: t('milestone.field_name'), class: 'form-control field-name'

            - if error_msg = f.object.errors[:name].presence
              .error-message.text-danger.small= error_msg.join('; ')

            .flex1
              = f.text_field :description, placeholder: t('milestone.field_hint'), class: "form-control field-definition no-style as-hint"

          %button.btn.btn-outline-primary.btn-add-field{type: 'button'}= t('milestone.add_field')

        .action.flex-column
          = f.hidden_field :_destroy
          .btn-setting.pointer.flex1.flex-column-horizontal-center
            %i.fas.fa-cog.icon-gray
          .remove_fields.pointer.flex1.flex-column-horizontal-center
            %i.fas.fa-trash-alt.icon-delete

    = render 'kinds'

    .collapse-content
      = render 'mapping_field_content', f: f
      = render 'field_option_content', f: f

    .setting-wrapper
      = render 'setting', f: f
