%li.option
  %fieldset
    .field-wrapper{style: 'margin-top: 10px'}
      %button.btn.move-option.pr-0{type: :button}
        %i.fa.fa-arrows-alt

      = f.hidden_field :display_order, class: 'option-display-order'

      = f.hidden_field :_destroy
      = link_to '#', class: "remove_fields btn btn-link" do
        %i.fa.fa-trash-alt.icon-delete
      .flex-row.flex1
        .flex1
          = f.text_field :name, placeholder: "option", class: 'form-control'

        .flex1.flex-row-vertical-center
          %label{style: 'margin: 0 10px 0 20px'}= t('milestone.value')
          = f.text_field :value, placeholder: "option", class: 'form-control'

        .flex1.field-option-color-wrapper
          .flex-row-vertical-center{style: 'height: 100%'}
            %label= t('milestone.color')
            = f.text_field :color, class: 'field-option-color form-control'
