.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control'

- if @milestone.is_default?
  = render 'predefined_fields'
- else
  = render 'predefined_fields', predefined_fields: Field.defaults

%fieldset
  %legend= t('milestone.additional_fields')
  %ol.fields.sortable
    = f.fields_for :fields, f.object.fields.dynamic do |builder|
      = render 'field_fields', f: builder

    = link_to_add_fields t('milestone.add_field'), f, :fields

  .actions
    = f.submit t('shared.save'), class: 'btn btn-primary'
    = link_to t('shared.cancel'), milestones_path, class: 'btn btn-secondary'
