= f.input :name

- unless @milestone.is_default?
  = f.input :verified, label: 'Is it the verified milestone?'
  = f.input :final, label: 'Is it the close milestone?'

= render 'predefined_fields', f: f

- sections = f.object.sections.select{ |section| !section.default }
= f.fields_for :sections, sections do |sf|
  = render 'section_fields', f: sf

= link_to_add_fields t('milestone.add_section'), f, :sections

.actions
  = f.submit t('shared.save'), class: 'btn btn-primary'
  = link_to t('shared.cancel'), milestones_path, class: 'btn btn-secondary'

:javascript
  locale = {
    please_select: "#{t('shared.please_select')}",
    skip_logic_not: "#{t('milestone.skip_logic_not')}",
    any_of: "#{t('milestone.any_of')}",
    match_all_of: "#{t('milestone.match_all_of')}"
  }
