- sections = @milestone.sections.select{ |section| section.default? }

= f.fields_for :sections, sections do |sf|
  %fieldset.section
    %legend.d-flex.align-items-center
      .d-inline-block
        = sf.input :name, label: false, placeholder: t('milestone.section_name'), wrapper_html: { class: 'mb-0' }
        = sf.hidden_field :default

      .d-inline-block.form-check.form-check-inline
        = sf.input :display, label: t('milestone.display_as_section'), input_html: {class: 'form-check-inline'}, wrapper_html: { class: 'mb-0' }

    %ol.fields.sortable
      - if @milestone.final?
        = sf.fields_for :predefinded_field, Field.conclude_event_type do |form|
          = render 'predefined_field', form: form

      = sf.fields_for :fields, sf.object.fields do |form|
        = render 'predefined_field', form: form
