%fieldset
  %legend= t('milestone.primary_fields')

  %ol.fields
    = f.fields_for :fields, f.object.fields.default.where.not(code: 'source') do |form|
      %li
        %fieldset.fieldset
          .field-wrapper
            %button.btn.move{type: :button, style: 'cursor: auto'}

            .wrapper.flex-row-vertical-center
              %abbr{:title => "required", class: ('hidden' if !form.object.required)} *
              %input.field-type{ type: :hidden, value: form.object.field_type }
              .form-control.field-name.as-title.flex-row-vertical-center= form.object.name

              - if form.object.required
                .as-title= t('milestone.required')

              .form-check
                = form.hidden_field :name
                = form.check_box :tracking, { class: 'form-check-input' }
                = form.label :tracking, t('milestone.tracking'), class: 'form-check-label'

          = render 'kinds'
