%fieldset
  %legend= t('milestone.primary_fields')

  %ol.fields
    - fields = f.object.fields.select{ |f| f.is_default? }
    = f.fields_for :fields, fields do |form|
      %li{ class: ('hidden' if form.object.code == 'source') }
        %fieldset.fieldset
          .field-wrapper
            %button.btn.move{type: :button, style: 'cursor: auto'}

            .wrapper.flex-row-vertical-center
              %button.btn.collapse-trigger.mr-1{ type: :button }
                %i.fas.fa-caret-right
              %abbr.ml-3{ :title => "required", class: ('hidden' if !form.object.required) } *
              = form.hidden_field :field_type, class: 'field-type', 'data-field' => form.object.field_type
              = form.hidden_field :code
              = form.hidden_field :required
              = form.hidden_field :is_default, value: true
              = form.text_field :name, placeholder: 'field_name', class: 'form-control field-name'

              - if form.object.required
                .as-title= t('milestone.required')

              .form-check
                = form.check_box :tracking, { class: 'form-check-input' }
                = form.label :tracking, t('milestone.tracking'), class: 'form-check-label'

          = render 'kinds'
          .collapse-content
            = render "field_description", f: form
            = render 'field_option_content', f: form
