%fieldset.section
  %legend.flex-row-vertical-center
    .flex1
      = f.input :name, label: false, placeholder: 'Section Name'
      = f.hidden_field :default

    .form-check.form-check-inline
      = f.input :display, label: 'Display name?', input_html: {class: 'form-check-inline'}

    .action
      = f.hidden_field :_destroy
      = link_to '#', class: "remove_fields btn btn-link" do
        %i.fa.fa-trash-alt.icon-delete

  %ol.fields.sortable
    = f.fields_for :fields, f.object.fields do |builder|
      = render 'field_fields', f: builder

    = link_to_add_fields t('milestone.add_field'), f, :fields
