.flex-row
  %ul.flex-column.items
    %li.item.item-setting{'data-target' => '.setting-content'}= t('milestone.setting')
    %li.item.validation-trigger{'data-target' => '.validation-criteria-content'}= t('milestone.validation_criteria')
    %li.item.skip-logic{'data-target' => '.skip-logic-content'}= t('milestone.skip_logic')

  .contents
    .content.setting-content
      .form-check
        = f.check_box :required, { class: 'form-check-input field-required' }
        = f.label :required, t('milestone.required'), class: 'form-check-label required-label'

      .form-check
        = f.check_box :tracking, { class: 'form-check-input' }
        = f.label :tracking, t('milestone.tracking'), class: 'form-check-label'

    .content.validation-criteria-content
      = render 'field_validation_content', f: f

    .content.skip-logic-content
      .form-inline.container
        .form-group.row
          = f.hidden_field :relevant, class: 'skip-logic-field'
          %select.col-md-4.form-control#relevant-code
          %select#relevant-operator.form-control
          %input#relevant-value.form-control{ type: :text }