#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('milestone.milestones')
      %div
        - if policy(Milestone).update?
          = link_to new_milestone_path, class: 'btn btn-primary' do
            %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @milestones }

  - if @milestones.present?
    .table-header.medium-width.flex-row
      %strong.name-wrapper= t('milestone.name')
      %strong= t('milestone.flag_as')

    = form_with(url: reorder_milestones_path, method: 'put', id: 'form') do |f|
      %ol.fields.table.table-hover.medium-width
        - @milestones.each do |milestone|
          %li.move.flex-row.list-row{'data-id' => milestone.id}
            .name-wrapper
              %span.badge.badge-pill.badge-info.mr-1= milestone.fields.size
              = milestone.name

            .status-wrapper.text-capitalize.flex1
              = milestone.status

            .d-flex
              = telegram_icon_status(milestone).html_safe
              = email_icon_status(milestone).html_safe

            .text-right
              %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %i.fas.fa-ellipsis-v

              .dropdown-menu.dropdown-menu-right
                = link_to milestone_message_path(milestone), class: "btn dropdown-item" do
                  %i.fas.fa-bell.drop-menu-icon
                  %span= t('milestone.notification')

                - if policy(Milestone).update?
                  = link_to edit_milestone_path(milestone), class: "btn dropdown-item" do
                    %i.fas.fa-pen.drop-menu-icon
                    %span= t('shared.edit')

                - if policy(milestone).delete?
                  = link_to milestone_path(milestone), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('milestone.are_you_sure_to_delete')} do
                    %i.fas.fa-trash-alt.drop-menu-icon
                    %span= t('shared.delete')
