#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('milestone.milestones')
      %div
        - if policy(Milestone).update?
          = link_to new_milestone_path, class: 'btn btn-primary' do
            %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @milestones }

  - if @milestones.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th= t('milestone.name')
          %th= t('milestone.status')
          %th

    = form_with(url: reorder_milestones_path, method: 'put', id: 'form') do |f|
      %ol.fields.table.table-hover.medium-width
        - @milestones.each do |milestone|
          %li.move.flex-row.list-row{'data-id' => milestone.id}
            .name-wrapper
              %span.badge.badge-pill.badge-info= milestone.fields.size
              = milestone.name

            .status-wrapper
              = 'Root' if milestone.is_default?
              = 'Final' if milestone.final?

            .flex1
              .btn-group
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  = link_to milestone_message_path(milestone), class: ["btn dropdown-item", ('disabled' unless current_program.enable_telegram?)] do
                    %i.fas.fa-bell.drop-menu-icon
                    %span= t('milestone.notification')

                  - if policy(Milestone).update?
                    = link_to edit_milestone_path(milestone), class: "btn dropdown-item" do
                      %i.fas.fa-pen.drop-menu-icon
                      %span= t('shared.edit')

                  - if policy(milestone).delete?
                    = link_to milestone_path(milestone), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('milestone.are_you_sure_to_delete')} do
                      %i.fas.fa-trash-alt.drop-menu-icon
                      %span= t('shared.delete')
