#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= "Milestones"
      %div
        - if policy(Milestone).update?
          = link_to new_milestone_path, class: 'btn btn-primary' do
            %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @milestone }

  - if @milestones.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th Name
          %th
      %tbody
        - @milestones.each do |milestone|
          %tr
            %td
              %span.badge.badge-pill.badge-info= milestone.fields.size
              = milestone.name

            %td
              .btn-group
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  - if policy(Milestone).update?
                    = link_to milestone_telegram_notification_path(milestone), class: "btn dropdown-item" do
                      %i.fab.fa-telegram.drop-menu-icon
                      %span Telegram Notification

                    = link_to edit_milestone_path(milestone), class: "btn dropdown-item" do
                      %i.fas.fa-pen.drop-menu-icon
                      %span Edit

                  - if policy(milestone).delete?
                    = link_to milestone_path(milestone), method: :delete, class: "btn dropdown-item", :data => {:confirm => 'Are you sure to delete this milestone?'} do
                      %i.fas.fa-trash-alt.drop-menu-icon
                      %span Delete
