#content.flex-column
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('telegram_bot.telegram_bot')
      - done_url = current_user.system_admin? ? programs_path : setting_path
      = link_to t('shared.done'), done_url, class: 'btn btn-light'

  .medium-width
    %p= t('telegram_bot.you_can_configure_your_bot')

    %div
      %h5= t('telegram_bot.visit_bot_father_to_create_newbot')
      %div
        = link_to t('telegram_bot.create_new_bot'), 'https://telegram.me/botfather', class: 'btn btn-link'
        %span= t('telegram_bot.using_the_bot_father')
      = image_tag 'telegram_bot/bot_father', class: 'image'

    %div
      %h5= t('telegram_bot.create_new_bot')
      %div= "#{t('telegram_bot.to_create_a_newbot')}, #{t('telegram_bot.send_command')} <code>\/newbot</code>.".html_safe
      = image_tag 'telegram_bot/newbot', class: 'image'

    %div
      %h5= t('telegram_bot.specify_a_friendly_name')
      %div= t('telegram_bot.give_the_bot_a_friendly_name')
      = image_tag 'telegram_bot/bot_name', class: 'image'

    %div
      %h5= t('telegram_bot.specify_a_username')
      %div= t('telegram_bot.give_the_bot_a_unique_username')
      %div= t('telegram_bot.username_note')
      = image_tag 'telegram_bot/bot_username', class: 'image'

    %div
      %h5= t('telegram_bot.copy_the_access_token')
      %div= t('telegram_bot.copy_the_bot_access_token')
      %div= t('telegram_bot.token_note').html_safe
      = image_tag 'telegram_bot/bot_token', class: 'image'

    %div
      %h5= t('telegram_bot.enter_the_bot_token')
      %div= t('telegram_bot.go_to_setting').html_safe
      = image_tag 'telegram_bot/setting', class: 'image'
      %div= t('telegram_bot.enable_telegram_notification').html_safe
      = image_tag 'telegram_bot/telegram_off', class: 'image'
      = image_tag 'telegram_bot/telegram_on', class: 'image'
