.form-group
  %label Event Type
  %input.form-control{type: :text, readonly: true, value: @event.event_type_name}

= f.input :submitter_id, input_html: {value: current_user.id}, as: :hidden
= f.input :form_type_id, input_html: {value: @form.form_type.id}, as: :hidden

= f.fields_for :properties, OpenStruct.new(@form.properties) do |builder|
  - @form.form_type.fields.each do |field|
    = render "events/fields/#{field.field_type}", field: field, f: builder

= f.button :submit, class: 'btn btn-primary'
= link_to 'Cancel', events_path, class: 'btn btn-secondary'
