.wrapper
  = render 'shared/sidebar'

  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %h3="#{@event.event_type_name}: Edit Form #{@form.form_type.name} "

    .w-50.view-center
      = simple_form_for @form, url: event_form_path(@event, @form), method: :put do |f|
        = render 'form', f: f
