#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3="#{@event.event_type_name}: #{@form.form_type.name} "

  .w-50.view-center
    = simple_form_for @form, url: event_forms_path(@event), method: :post do |f|
      .form-group
        %label Event Type
        %input.form-control{type: :text, readonly: true, value: @event.event_type_name}

      = f.input :conducted_at, as: :date, html5: true
      = f.input :submitter_id, input_html: {value: current_user.id}, as: :hidden
      = f.input :form_type_id, input_html: {value: @form.form_type.id}, as: :hidden

      - @form.form_type.fields.each do |field|
        - obj = @form.field_values.select{ |a| a.field_id==field.id }.first || @form.field_values.new
        = f.fields_for :field_values, obj do |builder|
          = render "events/fields/#{field.field_type}", field: field, f: builder

      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', event_path(@event), class: 'btn btn-secondary'
