.footer.p-3
  .d-flex.justify-content-center.align-items-center
    .d-inline-block.mx-4
      .d-inline-block
        %span.text-center.mb-2= "#{t('about.funded_by')}"
        = link_to 'https://endingpandemics.org/', title: 'Ending Pandemics' do
          = image_tag 'ending-pandemics.png', class: 'footer-logo mx-2', alt: 'Ending Pandemics'
      .d-inline-block.mx-4
        %span.text-center.mb-2= "#{t('about.developed_by')}"
        = link_to 'http://ilabsoutheastasia.org/', title: 'InSTEDD iLab Southeast Asia' do
          = image_tag 'instedd-ilabsea.png', class: 'footer-logo mx-2', alt: 'InSTEDD iLab Southeast Asia'
