.logo-wrapper
  %h3.mb-3.text-center{style: 'width: 400px; margin: 0 auto;'}= "#{ENV['APP_NAME']} (#{ENV['APP_SHORTCUT_NAME']})"
  .flex-row.text-center
    .program.mr-5
      = image_tag 'cdc.jpg', class: 'logo'
      %h4.title.text-center នាយកដ្ឋានប្រយុទ្ធនឹងជំងឺឆ្លង នៃក្រសួងសុខាភិបាល

    .program
      = image_tag 'gdahp.jpg', class: 'logo'
      %h4.title.text-center អគ្គនាយកដ្ឋានសុខភាពសត្វ និងផលិតកម្មសត្វ
