%li.nobreak{data: skip_logic_data(field)}
  .type= "#{field.name}:"
  .value
    - if fvs = field_values.select{ |fv| fv.field_id == field.id }.presence
      - fvs.each do |fv|
        - if fv.field_type == 'Fields::ImageField'
          .image-wrapper
            = wicked_pdf_image_tag fv.image_url

        - elsif fv.field_type == 'Fields::FileField'
          %div
            %a.link{href: "#{ENV['HOST_URL']}#{URI.decode(download_path(file: fv.file_url))}"}= fv.file_url.split('/').last

        - else
          = fv.html_tag.html_safe

          - if tracings = field.tracking? && field.field_type != 'Fields::IntegerField' && main_object.tracings.select{ |tracing| tracing.field_id == field.id }.presence

            - tracings = ActiveModelSerializers::SerializableResource.new(tracings.last(5), each_serializer: TracingSerializer).as_json
            .timeline-wrapper
              %ul#timeline.timeline{ 'data-tracings' => tracings.to_json }

    - else
      = no_value(field).html_safe
