%li.nobreak{data: skip_logic_data(field)}
  .type= "#{field.name}:"
  .value
    - if fvs = field_values.select{ |fv| fv.field_id == field.id }.presence
      - fvs.each do |fv|
        - if fv.field_type == 'Fields::ImageField'
          .image-wrapper
            = wicked_pdf_image_tag fv.image_url

        - elsif fv.field_type == 'Fields::FileField'
          %div
            %a.link{href: "#{ENV['HOST_URL']}#{URI.decode(download_path(file: fv.file.path))}"}= fv.file_identifier

        - else
          = fv.html_tag.html_safe

          - field_tracing = @tracings[field.id]
          - if field_tracing.present? && field_tracing[:display_able]
            .timeline-wrapper
              %ul.timeline{ 'data-tracings' => field_tracing[:tracings].to_json }

    - else
      = no_value(field).html_safe
