#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .flex-row-vertical-center
      %h3
        = "#{@event.event_type_name}: "
        %span.badge.badge-light= @event.uuid

      = @event.field_values.select{ |fv| fv.field_code == 'progress' }.first.try(:html_tag).try(:html_safe)

  %ul.list.flex1
    %li
      %span.type= "#{t('event.suspected_event_type')}:"
      %span.value= @event.event_type_name
    %li
      %span.type= "#{t('event.location')}:"
      %span.value= @event.location_name

    - if @event.link_uuid.present?
      %li
        %span.type= "#{t('event.link_to_event')}:"
        %span.value= link_to @event.link_uuid, "#{ENV['HOST_URL']}#{event_path(@event.link_uuid)}", style: 'color: #007bff'

    - @event.milestone.sections.each do |section|
      %fieldset.section{class: ('not-section' unless section.display?)}
        %legend= section.name

        - section.fields.except_locations.each do |field|
          = render 'field_value', field_values: @event.field_values, field: field, main_object: @event

  - @event.event_milestones.each do |event_milestone|
    %h4="#{event_milestone.milestone.name}"

    %ul.list.flex1
      - event_milestone.milestone.sections.each do |section|
        %fieldset.section{class: ('not-section' unless section.display?)}
          %legend= section.name

          - section.fields.except_locations.each do |field|
            = render 'field_value', field_values: event_milestone.field_values, field: field, main_object: event_milestone
