- content_for :header_title do
  = t('template.line_list_title')

.d-flex.justify-content-end.mb-3
  = render "shared/add_new_button", path: new_template_path, name: t('template.line_list_title') if policy(Milestone).create?

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @templates }

    = render 'shared/pagination_title', name: t('template.line_list_title') if @templates.present?

    - if @templates.present?
      %table.table.table-hover.medium-width
        %thead
          %tr
            %th= t('template.name')
            %th= t('template.number_of_fields')
            %th

        %tbody
          - @templates.each do |template|
            %tr
              %td
                = template.name
              %td
                %span.badge.badge-pill.badge-info.mr-1= template.fields.size + template.properties.size
              %td.text-right
                - if policy(template).update?
                  %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fas.fa-ellipsis-v

                  .dropdown-menu.dropdown-menu-right
                    = link_to edit_template_path(template), class: "btn dropdown-item" do
                      %i.fas.fa-pen.drop-menu-icon
                      %span= t('shared.edit')

                    - if policy(template).destroy?
                      = link_to template_path(template), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('template.are_you_sure_to_delete')} do
                        %i.fas.fa-trash-alt.drop-menu-icon
                        %span= t('shared.delete')


    = render 'shared/pagination'
