#content
  %form#event-form.form-inline{ method: :get }
    - if current_user.system_admin?
      .form-group.mb-2.mx-sm-2
        %label.col-form-label-sm{ for: :program_id } Program:&nbsp;
        = select_tag :program_id, options_from_collection_for_select(@programs, 'id', 'name', params[:program_id]), include_blank: "All", class: 'form-control form-control-sm'

    = render 'location'

    .form-group.mb-2.mx-sm-2
      %label.col-form-label-sm{ for: :event_type } Event Type:&nbsp;
      = select_tag :event_type, options_from_collection_for_select(@event_types, 'id', 'name', @event_type_id), include_blank: "All", class: 'form-control form-control-sm'

    .form-group.mb-2.mx-sm-2
      %input#reportrange-input{ type: :hidden, name: 'daterange', value: "#{@start_date.strftime("%m/%d/%Y")} - #{@end_date.strftime('%m/%d/%Y')}" }

      #reportrange.daterange-picker{ style: "" }
        %i.fa.fa-calendar
        &nbsp;
        %span
        %i.fa.fa-caret-down

    %button.btn.btn-primary.btn-sm.mb-2{ type: 'submit' } Apply
  #map
  - unless @event_data.present?
    .no-data
      %span No result found!

:javascript
  const eventData = #{ raw @event_data.to_json };
  const startDate = "#{ @start_date.strftime('%m/%d/%Y') }";
  const endDate = "#{ @end_date.strftime('%m/%d/%Y') }";
