#content
  .flex-row-vertical-center
    .flex1
      %span= t('map.title', total_count: @event_data.inject(0){|sum,e| sum + e[:total_count] }, location_count: @event_data.size).html_safe

    %form#event-form.form-inline{ method: :get }
      .form-group.mb-2
        %label.mr-1{ for: :event_event_type }= "#{t('map.event')}:"
        = select_tag 'event_type_id', options_from_collection_for_select(@event_types, 'id', 'name', params[:event_type_id]), include_blank: "All", class: 'form-control'

      .form-group.mb-2
        = render 'events/filter_date'

      %button.btn.btn-primary.mb-2{ type: 'submit' }= t('shared.apply')

  #map{'data-event-data' => @event_data.to_json}

  .slide-wrapper.flex-row
    .flex-row.align-items-end
      .btn-slide.flex-column.pointer.align-items-center
        %i.fas.fa-angle-double-left.fa-angle-double-right
        .vericaltext= t('map.legend')

    .legend.flex-column
      %strong= t('event.suspected_event_type')

      .flex1.overflow-auto
        - @event_data.uniq{ |ed| ed[:event_type_name] }.each do |data|
          .flex-row-vertical-center
            %i{style:"background: #{data[:color]}"}
            .ellipsis= data[:event_type_name]

  - unless @event_data.present?
    .no-data.text-center
      %span= t('shared.no_result_found')
