#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= "#{@milestone.name}: Telegram Notification"

  .w-50.view-center
    = simple_form_for @telegram, url: milestone_telegram_path(@milestone) do |f|
      = f.input :message
      = render 'stepper_template_fields'

      .form-group
        %label Chat Group
        = hidden_field_tag "notifications_telegram[chat_group_ids][]", nil
        - @groups.each do |group|
          .form-check
            = check_box_tag "notifications_telegram[chat_group_ids][]", group.id, @telegram.chat_group_ids.include?(group.id), class: 'form-check-input', id: dom_id(group)
            %label.form-check-label{for: dom_id(group)}= group.title

      .actions
        = f.button :submit, class: 'btn btn-primary'
        = link_to 'Cancel', milestone_telegram_path, class: 'btn btn-secondary'
