.content-element.circles-list.flex1
  %ol
    - Milestone.all.each do |milestone|
      %li{ class: ('inactive' unless milestone == Milestone.first || milestone == @milestone) }
        %span.number
        .milestone-name= milestone.name
        .template-fields-wrapper
          .template-fields
            - if milestone == Milestone.first
              - milestone.event_template_fields.each do |field|
                = link_to "{{#{field[:label]}}}", '#', class: 'btn btn-link template-field', data: {code: field[:code]}
            - if milestone == @milestone
              - @milestone.template_fields.each do |field|
                = link_to "{{#{field[:label]}}}", '#', class: 'btn btn-link template-field', data: {code: field[:code]}
