#content.flex-column
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= "#{@milestone.name}: Telegram Notification"
      = link_to 'Done', milestones_path, class: 'btn btn-light'

  - if @telegram.present?
    .w-50.view-center
      .flex1
        .flex-row
          .label Message:
          .flex1= @telegram.message

        .flex-row
          .label Chat Groups:
          .flex1
            - @telegram.chat_groups.each do |group|
              - if group.is_active?
                %span= group.title
              - else
                %strike{'data-toggle'=>"tooltip", 'data-placement' => "top", title: group.reason}= group.title

      .actions
        = link_to 'Change', edit_milestone_telegram_path(@milestone), class: 'btn btn-primary'

  - else
    .w-50.view-center.flex1.flex-row-vertical-center
      .flex1.text-center
        %div Please setup your telegram notification
        .actions
          = link_to 'Setup', new_milestone_telegram_path(@milestone), class: 'btn btn-primary'
