#content.flex-column
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= "#{@milestone.name}: Telegram Notification"
      = link_to 'Done', milestones_path, class: 'btn btn-light'

  - if @telegram.present?
    .w-50.view-center
      %ul.list.flex1
        %li
          %span.type Message:
          %span.value= @telegram.message
        %li
          %span.type Chat groups:
          %span.value= @telegram.chat_groups.pluck(:title).join(', ')

      %div
        = link_to 'Change', edit_milestone_telegram_path(@milestone), class: 'btn btn-primary'

  - else
    .w-50.view-center.flex1.flex-row-vertical-center
      .flex1
        %div Please setup your telegram notification
        = link_to 'Setup', new_milestone_telegram_path(@milestone), class: 'btn btn-primary'
