.image-wrapper.position-relative
  = image_tag @program.logo_or_default, class: 'program-logo', 'data-default' => image_path('default_logo.png')
  = f.input :logo, as: :file, label: false, wrapper_html: { class: 'file_wrapper' }, input_html: { class: 'file_avata pointer' }

  = f.input :remove_logo, as: :boolean
  .btn-delete.pointer{class: ('d-none' unless @program.logo_url.present?) }
    %i.fas.fa-trash-alt.text-white

= f.input :name, label: t('program.name')

.actions
  = f.submit t('shared.save'), class: 'btn btn-primary'
  = link_to t('shared.cancel'), programs_path, class: 'btn btn-secondary'
