#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('program.programs')
      = link_to new_program_path, class: 'btn btn-primary' do
        %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @programs }

  - if @programs.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th= t('program.name')
          %th= t('program.logo')
          %th
      %tbody
        - @programs.each do |program|
          %tr
            %td= program.name
            %td
              .image-wrapper.thumbnail.ml-0
                = image_tag program.logo_or_default
            %td.text-right
              %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %i.fas.fa-ellipsis-v

              .dropdown-menu.dropdown-menu-right
                - if policy(program).update?
                  = link_to edit_program_path(program), class: "btn dropdown-item" do
                    %i.fas.fa-pen.drop-menu-icon
                    %span= t('shared.edit')

                - if policy(program).destroy?
                  = link_to program_path(program), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('program.are_you_sure_to_delete')} do
                    %i.fas.fa-trash-alt.drop-menu-icon
                    %span= t('shared.delete')

                - if policy(program).update?
                  = link_to es_reindex_program_path(program), class: "btn dropdown-item", :data => {:confirm => t('program.are_you_sure_to_reindex_elasticsearch_document')} do
                    %i.fas.fa-recycle.drop-menu-icon
                    %span= t('program.es_reindex')

                - if policy(program).update?
                  = link_to program_telegram_bot_path(program), class: "btn dropdown-item" do
                    %i.fab.fa-telegram.drop-menu-icon
                    %span= t('program.telegram_bot')
