#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('program.programs')
      = link_to new_program_path, class: 'btn btn-primary' do
        %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @programs }

  - if @programs.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th= t('program.name')
          %th
      %tbody
        - @programs.each do |program|
          %tr
            %td= program.name
            %td
              - if policy(program).update?
                = link_to t('shared.edit') , edit_program_path(program), class: "badge badge-info"
              - if policy(program).destroy?
                = "/"
                = link_to t('shared.delete'), program_path(program), method: :delete, class: "badge badge-danger", :data => {:confirm => t('program.are_you_sure_to_delete')}

