- field_name = field.name.downcase
- error_msg = main_object.errors["#{field_name}"]

.form-group{ class: ('form-group-invalid' if error_msg.present?) }
  = render 'events/fields/label_name', f: f, field_name: field_name, field: field

  .input-group{"data-target-input" => "nearest"}
    - id = "event_field_values_attributes_#{f.index}_value"
    = f.text_field :value, value: f.object.value, class: ['form-control datetimepicker datetimepicker-input', ('is-invalid' if error_msg.present?)], autocomplete: 'off', id: id, data: { target: "##{id}", toggle: 'datetimepicker'}, placeholder: 'yyyy-mm-dd hh:mm'
    .input-group-append{"data-target" => "##{id}", "data-toggle" => "datetimepicker"}
      .input-group-text
        %i.far.fa-clock

  - if error_msg.present?
    .invalid-feedback= error_msg.join('; ')
