.fields{'data-field-required' => field.required?}
  = f.label field.name do
    = field.name.upcase_first
    - if field.required?
      %abbr{:title => "required"} *

  - obj = @event.field_values.select{ |a| a.field_id==field.id } || f.object.field_values.new
  = f.fields_for :field_values, obj do |builder|
    = render 'field_value_fields', f: builder, option: { field: field, main_object: @event }
  = link_to_add_fields "+ Add File", f, :field_values, { field: field, main_object: @event }
