- field_name = field.name.downcase
- error_msg = main_object.errors["#{field_name}"]

%div{ class: error_msg.present? ? 'form-group form-group-invalid' : 'form-group' }
  = f.label field_name
  = f.hidden_field :field_id, value: field.id
  = f.text_area :value, class: error_msg.present? ? 'form-control is-invalid' : 'form-control'

  - if error_msg.present?
    .invalid-feedback= error_msg.join('; ')
