- field_name = field.name.downcase
- error_msg = main_object.errors["#{field_name}"]

%div{ class: form_field_class(field, error_msg), data: skip_logic_data(field) }
  = render 'events/fields/label_name', f: f, field_name: field_name, field: field

  = f.hidden_field :value, value: f.object.value
  = f.select(:value, [], {:include_blank => "Please select"}, {:data => {:pumi_select_target => "district", :pumi_select_collection_url => locations_path, :pumi_select_collection_label_method => "name_km", :pumi_select_collection_value_method => "id", :pumi_select_populate_on_load => true, :pumi_select_has_hidden_value => true}, class: ['select-location form-control', ('is-invalid' if error_msg.present?)]})

  - if error_msg.present?
    .invalid-feedback= error_msg.join('; ')
