= telegram_icon(user).html_safe

- if policy(user).destroy?
  %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    %i.fas.fa-ellipsis-v

  .dropdown-menu.dropdown-menu-right
    - unless user.confirmed?
      %input.confirm-link{ value: confirmation_url(user, confirmation_token: user.confirmation_token) }
      = link_to '#', class: "btn dropdown-item btn-copy" do
        %i.far.fa-copy.drop-menu-icon
        %span= t('user.copy_confirm_link')

    - if policy(user).update?
      = link_to edit_user_path(user), class: "btn dropdown-item" do
        %i.fas.fa-pen.drop-menu-icon
        %span= t('shared.edit')

    - if policy(user).destroy?
      = link_to user_path(user), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('user.are_you_sure_to_delete')} do
        %i.fas.fa-trash-alt.drop-menu-icon
        %span= t('shared.delete')
