.wrapper
  = render 'shared/sidebar'

  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %h3 Users
        = link_to new_user_path, class: 'btn btn-primary' do
          %i.fas.fa-plus

    - if @users.blank?
      .text-center
        %h2 No data found
        %p Please use (+) button to add items!

    - if @users.present?
      %table.table.table-hover.medium-width
        %thead
          %tr
            %th Email
            %th Role
            %th Status
            %th
        %tbody
          - @users.each do |user|
            %tr
              %th= user.email
              %td= 'user.roles'
              %td= user.confirmed? ? 'active' : 'pending';
              %td
                = link_to 'Delete' , user_path(user), method: :delete, class: "badge badge-danger", :data => {:confirm => 'Are you sure to delete this user?'}
