- content_for :header_title do
  = t('user.users')

.d-flex
  = render 'filter'
  .flex-grow-1
  = render 'shared/add_new_button', path: new_user_path, name: t('user.user') if policy(User).create?

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @users }

    - if @users.present?
      = render 'shared/pagination_title', name: t('user.user')

      %table.table.table-hover.medium-width
        %thead
          %tr
            %th= t('user.number')
            %th= t('user.full_name')
            %th= t('user.email')
            %th= t('user.phone_number')
            %th= t('user.role')
            %th= t('user.program') if current_program.nil?
            %th= t('user.province')
            %th= t('user.status')
            %th= t('user.last_sign_in_at')
            %th
        %tbody
          - @users.each_with_index do |user, index|
            %tr
              %td= @pagy.from + index
              %td= user.full_name
              %td= user.email
              %td= user.phone_number
              %td= user.role.titlecase
              %td= user.program_name if current_program.nil?
              %td= user.location.try(:name_km)

              %td.status{ class: ('active' if user.confirmed?) }
                = user.confirmed? ? t('user.active') : t('user.pending')

              %td
                = I18n.l(user.last_sign_in_at) if user.last_sign_in_at.present?

              %td.text-right
                = render 'action_buttons', user: user

      = render 'shared/pagination'

.toast-wrapper{"aria-atomic" => "true", "aria-live" => "polite"}
  .toast
    .toast-body= t('user.copied')

