#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('user.users')
      = link_to new_user_path, class: 'btn btn-primary' do
        %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @users }

  - if @users.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th= t('user.email')
          %th= t('user.role')
          %th= t('user.program')
          %th= t('user.status')
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user.email
            %td= user.role.titlecase
            %td= user.program_name
            %td.status{ class: ('active' if user.confirmed?) }
              = user.confirmed? ? t('user.active') : t('user.pending')
            %td
              - if policy(user).destroy?
                .btn-group
                  %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fas.fa-ellipsis-v

                  .dropdown-menu.dropdown-menu-right
                    - unless user.confirmed?
                      %input.confirm-link{ value: confirmation_url(user, confirmation_token: user.confirmation_token) }
                      = link_to '#', class: "btn dropdown-item btn-copy" do
                        %i.far.fa-copy.drop-menu-icon
                        %span= t('user.copy_confirm_link')

                    - if policy(user).destroy?
                      = link_to user_path(user), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('user.are_you_sure_to_delete')} do
                        %i.fas.fa-trash-alt.drop-menu-icon
                        %span= t('shared.delete')

.toast-wrapper{"aria-atomic" => "true", "aria-live" => "polite"}
  .toast
    .toast-body= t('user.copied')

