#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('user.new_users')

  .w-50.view-center
    = simple_form_for @user do |f|
      = f.input :email, label: t('user.email')
      = f.input :role, label: t('user.role'), collection: policy(User).roles, input_html: { class: 'role' }

      .program.hidden
        = f.input :program_id, label: t('user.program'), collection: policy_scope(Program.all)

      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), users_path, class: 'btn btn-secondary'
