#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3 New Users

  .w-50.view-center
    = simple_form_for @user do |f|
      = f.input :email
      = f.input :program_id, collection: @programs
      = f.input :role, collection: User::ROLES

      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', users_path, class: 'btn btn-secondary'
