.wrapper
  = render 'shared/sidebar'

  #content
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %h3 New Users
        = link_to 'Back', users_path, class: 'btn btn-secondary'

    .w-50.view-center
      = simple_form_for @user do |f|
        = f.input :email, placeholder: 'user@domain.com', input_html: { required: true }
        = f.input :role, collection: User.roles.keys.to_a, input_html: { class: 'form-control', required: true }

        = f.button :submit, class: 'btn btn-primary'
