.w-50.view-center
  = simple_form_for @schedule do |f|
    = f.input :name, label: t('schedule.name')

    .form-group.schedule-notify
      %label= t('schedule.schedule_notify')
      .d-flex.align-items-center
        %label.mb-0.mr-2= t('schedule.every')
        = f.input :interval_value, label: false, input_html: {style: 'width: 100px;', class: 'input'}, wrapper_html: {class: 'mb-0 mr-2'}

        = f.input :interval_type, label: false, collection: Schedule.interval_types.keys.map { |k| [t("schedule.#{k}"), k] }, include_blank: false, input_html: {style: 'width: 120px;', class: 'input'}, wrapper_html: {class: 'mb-0 mr-2'}

        %label.mb-0.mr-2= t('schedule.at')
        = f.input :follow_up_hour, label: false, collection: (0..23).to_a.map { |h| ["#{h}:00", h] }, include_blank: false, input_html: {style: 'width: 120px;', class: 'input'}, wrapper_html: {class: 'mb-0'}

        .ml-2
          %span.info{ 'data-toggle' => 'tooltip', 'data-title' => '', 'data-info' => t('schedule.schedule_info') }
            %i.fas.fa-info-circle.icon-24

    = f.input :message, label: t('schedule.message')
    .form-group
      - @schedule.template_fields.each do |field|
        = link_to "{{#{field[:name]}}}", '#', class: 'template-field text-primary mr-2', data: {code: field[:code]}

    = render "channels", f: f

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), schedules_path, class: 'btn btn-secondary'
