.w-50.view-center.form-wrapper
  = simple_form_for @schedule do |f|
    = f.input :name, label: t('schedule.name')
    = f.input :type, as: :hidden

    = render "schedule_notify", f: f

    = f.input :message, label: t('schedule.message')

    .form-group
      - @schedule.template_fields.each do |field|
        %span{ 'data-toggle' => 'tooltip', 'data-title' => field[:description], 'data-html' => 'true'}
          = link_to "{{#{field[:code]}}}", '#', class: 'template-field text-primary mr-2', data: {code: field[:code]}

    - if f.object.summary_schedule?
      = f.input :deadline_duration_in_day, label: t('schedule.dealine_duration').html_safe, input_html: { min: 1 }

      .form-group
        %label= t('schedule.to').html_safe
        %input#schedule_emails.form-control{:name => "schedule[emails]", 'data-emails' => current_program.users.pluck(:email).to_json, value: @schedule.emails.join(', ') }

    - if f.object.event_schedule?
      = render "channels", f: f

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), schedules_path, class: 'btn btn-secondary'
