- content_for :header_title do
  = t('schedule.schedule')

.d-flex.justify-content-end.mb-3
  - if policy(Schedule).create?
    .btn-group
      %button.btn.btn-primary.btn-sm.shadow-sm.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
        %i.fas.fa-plus
        = t('shared.add_new', name: t('schedule.schedule'))

      .dropdown-menu.dropdown-menu-right
        - schedule_types.each_with_index do |st, index|
          %a.dropdown-item{href: new_schedule_path(type: st[:type]), class: ('border-bottom' if index < schedule_types.length - 1)}
            %span.mr-2= st[:icon].html_safe
            = st[:label]

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @schedules }

    - if @schedules.present?
      = render "shared/pagination_title", name: t('schedule.schedule')

      %table.table.table-hover.medium-width
        %thead
          %tr
            %th= t('shared.number')
            %th= t('schedule.name')
            %th= t('schedule.schedule')
            %th= t('schedule.message')
            %th= t('schedule.notify_to')
            %th= t('schedule.status')
            %th

        %tbody
          - @schedules.each_with_index do |schedule, index|
            %tr
              %td= @pagy.from + index
              %td
                %span.mr-2{ 'data-toggle' => 'tooltip', 'title' => schedule.display_type }
                  = schedule.icon_html.html_safe
                = schedule.name
              %td
                = schedule.short_description.html_safe
                %span{ 'data-toggle' => 'tooltip', 'data-title' => schedule.full_description, "data-html" => "true" }
                  %i.fas.fa-info-circle.icon-24
              %td
                .multi-ellipsis= schedule.message
              %td
                - if schedule.event_schedule?
                  - schedule.channels.each do |ch|
                    %span.ml-2.icon-24{'data-toggle' => 'tooltip', 'data-title' => t("shared.#{ch}")}
                      = send("icon_#{ch}").html_safe
                - else
                  %span.ml-2.icon-24{'data-toggle' => 'tooltip', 'data-title' => schedule.emails.join(', ')}
                    = send("icon_email").html_safe

              %th= status_html(schedule.enabled?).html_safe

              %td.text-right
                = render 'action_buttons', schedule: schedule

    = render 'shared/pagination'
