- content_for :header_title do
  = t('schedule.schedule')

.d-flex.justify-content-end.mb-3
  - if policy(Schedule).create?
    .btn-group
      %button.btn.btn-primary.btn-sm.shadow-sm.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
        %i.fas.fa-plus
        = t('shared.add_new', name: t('schedule.schedule'))

      .dropdown-menu.dropdown-menu-right
        - Schedule::TYPES.each_with_index do |type, index|
          %a.dropdown-item{href: new_schedule_path(type: type), class: ('border-bottom' if index < Schedule::TYPES.length - 1)}
            %i.fas.fa-plus.mr-2
            = t("schedule.new_#{type.split('::').last.underscore}")

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @schedules }

    - if @schedules.present?
      = render "shared/pagination_title", name: t('schedule.schedule')

      %table.table.table-hover.medium-width
        %thead
          %tr
            %th= t('shared.number')
            %th= t('schedule.name')
            %th= t('schedule.schedule')
            %th= t('schedule.message')
            %th= t('schedule.use_channel')
            %th= t('schedule.status')
            %th

        %tbody
          - @schedules.each_with_index do |schedule, index|
            %tr
              %td= @pagy.from + index
              %td= schedule.name
              %td
                = schedule.short_display_info.html_safe
                %span{ 'data-toggle' => 'tooltip', 'data-title' => schedule.full_display_info, "data-html" => "true" }
                  %i.fas.fa-info-circle.icon-24
              %td
                .multi-ellipsis= schedule.message
              %td
                - schedule.channels.each do |ch|
                  %span.ml-2.icon-24{'data-toggle' => 'tooltip', 'data-title' => t("shared.#{ch}")}
                    = send("icon_#{ch}").html_safe
              %th= status_html(schedule.enabled?).html_safe

              %td.text-right
                = render 'action_buttons', schedule: schedule

    = render 'shared/pagination'
