- content_for :header_title do
  = t('schedule.schedule')

.d-flex.justify-content-end.mb-3
  - if policy(Schedule).create?
    .btn-group
      %button.btn.btn-primary.btn-sm.shadow-sm.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
        %i.fas.fa-plus
        = t('shared.add_new', name: t('schedule.schedule'))

      .dropdown-menu.dropdown-menu-right
        - schedule_types.each_with_index do |st, index|
          %a.dropdown-item{href: new_schedule_path(type: st[:type]), class: ('border-bottom' if index < schedule_types.length - 1)}
            %span.mr-2= st[:icon].html_safe
            = st[:label]

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @schedules }

    - if @schedules.present?
      = render "shared/pagination_title", name: t('schedule.schedule')

      %table.table.table-hover.medium-width
        %thead
          %tr
            %th= t('shared.number')
            %th= t('schedule.name')
            %th= t('schedule.schedule')
            %th= t('schedule.message')
            %th= t('schedule.notify_to')
            %th= t('schedule.status')
            %th= t('shared.updated_at')
            %th

        %tbody
          = render partial: "schedule", collection: @schedules

    = render 'shared/pagination'
