%nav#sidebar
  #sidebarCollapse.sidebar-header
    %h3 Event Base Surveillance
    %strong EBS
    %i.fas.fa-align-left

  %ul.list-unstyled.components
    %li{class: getCssActiveClass('home') }
      = link_to root_path do
        %i.fas.fa-home
        Home

    %li{class: getCssActiveClass('programs') }
      = link_to programs_path do
        %i.fas.fa-tasks
        Programs

    %li{class: getCssActiveClass('users') }
      = link_to users_path do
        %i.fas.fa-users
        Users

    %li{class: (getCssActiveClass('event_types') || getCssActiveClass('event_types/forms')) }
      = link_to event_types_path do
        %i.fas.fa-calendar-alt
        Event Type and Form

    %li{class: getCssActiveClass('events') }
      = link_to events_path do
        %i.fas.fa-calendar-alt
        Events

    %li{class: getCssActiveClass('abouts') }
      %a{:href => "#"}
        %i.fas.fa-info-circle
        About

    %li
      = link_to destroy_user_session_path, method: :delete do
        %i.fas.fa-key
        Logout

  .copyright
    © 2019 InSTEDD

    / %li
    /   %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#pageSubmenu"}
    /     %i.fas.fa-copy
    /     Pages
    /   %ul#pageSubmenu.collapse.list-unstyled
    /     %li
    /       %a{:href => "#"} Page 1
    /     %li
    /       %a{:href => "#"} Page 2
    /     %li
    /       %a{:href => "#"} Page 3


