%nav#sidebar
  #sidebarCollapse.sidebar-header
    %h3
      = ENV['APP_NAME']
      %span{style: 'font-size: 12px'}= current_user.email

    %strong.mr-1= ENV['APP_SHORTCUT_NAME']
    %i.fas.fa-align-left

  %ul.list-unstyled.components
    - if current_user.system_admin? || current_user.program_admin?
      %li{class: get_css_active_class('dashboards') }
        = link_to ENV['DASHBOARD_URL'], target: '_blank' do
          %i.fas.fa-tachometer-alt
          = t('sidebar.dashboard')

    - if policy(Program).create?
      %li{class: get_css_active_class('programs') }
        = link_to programs_path do
          %i.fas.fa-tasks
          = t('sidebar.programs')

    - if policy(User).update?
      %li{class: get_css_active_class('users') }
        = link_to users_path do
          %i.fas.fa-users
          = t('sidebar.users')

    - if policy(Milestone).index?
      %li{class: get_css_active_class('milestones')}
        = link_to milestones_path do
          %i.fas.fa-tasks
          = t('sidebar.milestones')

    - if policy(EventType).index?
      %li{class: get_css_active_class('event_types') }
        = link_to event_types_path do
          %i.fas.fa-calendar
          = t('sidebar.event_types')

    - if policy(Event).index?
      %li{class: get_css_active_class('events') }
        = link_to events_path do
          %i.fas.fa-calendar-alt
          = t('sidebar.events')

    - if current_user.program_id.present?
      %li{class: get_css_active_class('maps') }
        = link_to maps_path do
          %i.fas.fa-map-marked
          = t('sidebar.map')

    - if policy(Webhook).index?
      %li{class: get_css_active_class('webhooks') }
        %a{:href => webhooks_path}
          %i.fas.fa-check-double
          = t('sidebar.webhooks')

    - if policy(ClientApp).index?
      %li{class: get_css_active_class('client_apps') }
        %a{:href => client_apps_path}
          %i.api-icon API
          = t('sidebar.api_and_services')

    - if current_program.present? && policy(Program).update?
      %li{class: get_css_active_class('programs/settings') }
        = link_to setting_path do
          %i.fas.fa-wrench
          = t('sidebar.settings')

    %li
      = link_to about_us_path do
        %i.fas.fa-info
        = t('sidebar.about_us')
    %li
      = link_to destroy_user_session_path, method: :delete do
        %i.fas.fa-key
        = t('sidebar.logout')

  .copyright
    .copyright-large
      .d-block.pl-2= "#{t('sidebar.version')}: #{ENV['VERSION']}"

    .copyright-small
      .d-block= "#{t('sidebar.version')}: #{ENV['VERSION']}"
