%nav#sidebar
  #sidebarCollapse.sidebar-header
    %h3
      Event Base Surveillance
      %span{style: 'font-size: 12px'}= current_user.email

    %strong EBS
    %i.fas.fa-align-left

  %ul.list-unstyled.components
    %li{class: get_css_active_class('home') }
      = link_to root_path do
        %i.fas.fa-tachometer-alt
        = t('sidebar.dashboard')

    - if policy(Program).update?
      %li{class: get_css_active_class('programs') }
        = link_to programs_path do
          %i.fas.fa-tasks
          = t('sidebar.programs')

    - if policy(User).update?
      %li{class: get_css_active_class('users') }
        = link_to users_path do
          %i.fas.fa-users
          = t('sidebar.users')

    - if policy(EventType).index?
      %li{class: (get_css_active_class('event_types') || get_css_active_class('event_types/forms')) }
        = link_to event_types_path do
          %i.fas.fa-calendar
          = t('sidebar.event_type_and_form')

    - if policy(Event).index?
      %li{class: get_css_active_class('events') }
        = link_to events_path do
          %i.fas.fa-calendar-alt
          = t('sidebar.events')

    %li{class: get_css_active_class('maps') }
      = link_to maps_path do
        %i.fas.fa-map-marked
        Map

    - if policy(ClientApp).index?
      %li{class: get_css_active_class('client_apps') }
        %a{:href => client_apps_path}
          %i.fas API
          APIs & Services

    %li
      = link_to destroy_user_session_path, method: :delete do
        %i.fas.fa-key
        = t('sidebar.logout')

  .copyright
    © 2019 InSTEDD

    / %li
    /   %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#pageSubmenu"}
    /     %i.fas.fa-copy
    /     Pages
    /   %ul#pageSubmenu.collapse.list-unstyled
    /     %li
    /       %a{:href => "#"} Page 1
    /     %li
    /       %a{:href => "#"} Page 2
    /     %li
    /       %a{:href => "#"} Page 3


