%nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
  / Sidebar Toggle (Topbar)
  %button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3.sidebarCollapse
    %i.fa.fa-bars

  %h4.ml-1= yield :header_title

  / Topbar Navbar
  %ul.navbar-nav.ml-auto
    %li.nav-item.dropdown.no-arrow.mx-1
      / Language display
      %a#languageDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        - language = { en: "english.png", km: "khmer.png" }
        = image_tag language[I18n.locale], alt: "locale", size: "24x24", class: "mr-2", 'data-language-code' => I18n.locale
        %span.text-gray-600.small= t("user.#{I18n.locale}")
        %i.fas.fa-angle-down.fa-fw

      / Language dropdown list
      .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in.p-0{"aria-labelledby" => "languageDropdown"}
        = simple_form_for(current_user, url: locale_path, method: :put, remote: true, html: { id: "switch-locale" }) do |f|
          = f.hidden_field :locale

          - available_locales.each_with_index do |locale, index|
            %a.switch-locale.dropdown-item.d-flex.align-items-center.small{'data-locale' => locale[:code], href: '#', class: ('border-bottom' if index < available_locales.length)}
              .dropdown-list-image.mr-3
                = image_tag locale[:image], alt: "locale", size: "24x24"
              .text-truncate= locale[:label]

    .topbar-divider.d-none.d-sm-block

    / Nav Item - User Information
    %li.nav-item.dropdown.no-arrow
      / User display
      %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        %span.mr-2.d-none.d-lg-inline.text-gray-600.small= current_user.display_name

        = image_tag 'default_profile.png', alt: 'profile', class: 'img-profile rounded-circle'

      / Profile dropdown
      .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in.p-0{"aria-labelledby" => "userDropdown"}
        %a.dropdown-item.d-flex.align-items-center.small.border-bottom{ href: "#" }
          .dropdown-list-image.mr-2
            = image_tag 'default_profile.png', alt: 'profile', class: 'img-profile rounded-circle'
          = current_user.email

        = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item d-flex align-items-center small' do
          .dropdown-list-image.d-flex.justify-content-center.align-items-center.mr-2
            %i.fas.fa-sign-out-alt.fa-sm.fa-fw.text-gray-600
          = t("sidebar.logout")
