- if policy(webhook).update?
  %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    %i.fas.fa-ellipsis-v

  .dropdown-menu.dropdown-menu-right
    = link_to edit_webhook_path(webhook), class: "btn dropdown-item" do
      %i.fas.fa-pen.drop-menu-icon
      %span= t('shared.edit')

    - unless webhook.active?
      = link_to activate_webhook_path(webhook), class: "btn dropdown-item" do
        %i.fas.fa-check.drop-menu-icon
        %span= t('webhook.activate')
    - if webhook.active?
      = link_to deactivate_webhook_path(webhook), class: "btn dropdown-item" do
        %i.fas.fa-ban.drop-menu-icon
        %span= t('webhook.deactivate')

    - if policy(webhook).destroy?
      = link_to webhook_path(webhook), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('webhook.are_you_sure_to_delete')} do
        %i.fas.fa-trash-alt.drop-menu-icon
        %span= t('shared.delete')
