.w-50.view-center
  = simple_form_for @webhook.becomes(Webhook) do |f|
    = f.input :name
    = f.input :url
    = f.input :type, collection: Webhook.types, input_html: { class: 'type' }, label: 'Authentication type'
    .types{'data-type' => 'Webhooks::TokenAuth'}
      = f.input :token
    .types{'data-type' => 'Webhooks::BasicAuth'}
      = f.input :username
      = f.input :password

    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Cancel', webhooks_path, class: 'btn btn-secondary'
