- content_for :header_title do
  = t('webhook.webhook')

.d-flex.justify-content-end.mb-3
  = render "shared/add_new_button", path: new_webhook_path, name: t('webhook.webhook') if policy(Webhook).create?

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @webhooks }

    - if @webhooks.present?
      = render 'shared/pagination_title', name: t('webhook.webhook')

      %table.table.table-hover.medium-width
        %thead
          %tr
            %th= t('webhook.name')
            %th= t('webhook.authentication_type')
            %th= t('webhook.url')
            %th= t('webhook.status')
            %th

        %tbody
          - @webhooks.each do |webhook|
            %tr
              %td= webhook.name
              %td= webhook.type
              %td= webhook.url || '-'
              %td.status{ class: ('active' if webhook.active?)}
                = webhook.active? ? t('webhook.active') : t('webhook.inactive')
              %td.text-right
                = render 'action_buttons', webhook: webhook

    = render 'shared/pagination'
