%ul.list.flex1
  %li
    %span.type= "#{t('event.event_type')}:"
    %span.value= @event.event_type_name
  %li
    %span.type= "#{t('event.location')}:"
    %span.value= @event.location_name(reverse=true)

  - @event.milestone.fields.each do |field|
    %li
      %span.type= field.name
      %span.value
        - if fvs = @event.field_values.select{ |fv| fv.field_id == field.id }.presence
          - if fvs[0].field_type == 'Fields::FileField'
            - fvs.each do |fv|
              %div
                = link_to fv.file_url.split('/').last, download_path(file: fv.file_url), target: "_blank", style:'color: #007bff'
          - elsif fvs[0].field_code == 'risk_level'
            - style = fvs[0].value.present? ? "background-color: #{fvs[0].color}; color: #fff" : ''
            %span.badge{style: style}
              = fvs[0].value || '-'
          - else
            = fvs[0].value || fvs[0].values

        - else
          = '-'
