- @events.each do |event|
  %tr
    %td= link_to event.id, event_path(event), class: 'btn btn-link uuid'
    %td
      .flex-row-vertical-center
        .small-color{style: "background-color: #{event.event_type_color}"}
          = event.event_type_name[0]
        %span= event.event_type_name

    %td= event.location_name

    - codes.each do |code|
      %td
        - fv = event.field_values.select{ |fv| fv.field_code == code }.first
        = fv.try(:html_tag).try(:html_safe) || '-'

    %td= event.program_name
    %td
      .btn-group
        %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %i.fas.fa-ellipsis-v

        .dropdown-menu.dropdown-menu-right
          = link_to edit_event_path(event), class: ['btn dropdown-item', ('disabled' unless policy(event).update?)] do
            %i.fas.fa-pen.drop-menu-icon
            %span= t('shared.edit')

          = link_to event_preview_path(event, format: 'pdf'), class: 'btn dropdown-item', target: '_blank' do
            %i.fas.fa-eye.drop-menu-icon
            %span= t('event.preview_pdf')
