- @events.each do |event|
  %tr
    %td
      .line-badge{ style: "border-color: #{event.event_type_changed? ? event.conclude_event_type_color : event.event_type_color}" }
        .flex-row-vertical-center
          / Event code
          = link_to event.id, event_path(event), class: 'text-primary uuid'

          / Copy code
          .mr-1= render "shared/buttons/copy_button", value: event.uuid

          / Creator email
          %span{ 'data-toggle' => 'tooltip', title: creator_info(event), 'data-html': "true" }
            %i.far.fa-user
    %td
      .flex-row-vertical-center
        = letter_badge(event.event_type_color, event.event_type_name[0]).html_safe
        %span= event.event_type_name

        - if event.event_type_changed?
          %i.fas.fa-long-arrow-alt-right.mr-1

          = letter_badge(event.conclude_event_type_color, event.conclude_event_type_name[0]).html_safe

          %span= event.conclude_event_type_name

        / Share icon
        = render 'events/index/share_icon', event: event

    %td= event.location_name

    - codes = %w(number_of_case progress risk_level event_date)
    - codes.each do |code|
      %td
        - fv = event.field_values.select{ |fv| fv.field_code == code }.first
        = fv.try(:html_tag).try(:html_safe) || '-'

    - if current_user.system_admin?
      %td= event.program_name

    %td.text-right
      = render "events/index/action_buttons", event: event
