%ul.list.flex1
  %li
    %span.type Event Type:
    %span.value= @event.event_type_name
  %li
    %span.type Value:
    %span.value= @event.value
  %li
    %span.type Description:
    %span.value= @event.description
  %li
    %span.type Adress:
    %span.value= @event.address
  %li
    %span.type Event Date:
    %span.value= @event.event_date
  %li
    %span.type Report Date:
    %span.value= @event.report_date || '-'
