.flex1
  .flex-row
    %span{style: 'display: block; width: 200px;'} Event Type
    = @event.event_type_name
  .flex-row
    %span{style: 'display: block; width: 200px;'} Value
    = @event.value
  .flex-row
    %span{style: 'display: block; width: 200px;'} Description
    = @event.description
  .flex-row
    %span{style: 'display: block; width: 200px;'} Adress
    = @event.address
  .flex-row
    %span{style: 'display: block; width: 200px;'} Event Date
    = @event.event_date
  .flex-row
    %span{style: 'display: block; width: 200px;'} Report Date
    = @event.report_date
