- @events.each do |event|
  %tr
    %td
      .flex-row-vertical-center
        = link_to event.id, event_path(event), class: 'btn btn-link pt-0 pb-0 pl-0 uuid'
        %span{ 'data-toggle' => 'tooltip', title: "#{t('event.creator')}: #{event.creator_email}" }
          %i.far.fa-user
    %td
      .flex-row-vertical-center
        .small-color{style: "background-color: #{event.event_type_color}"}
          = event.event_type_name[0]
        %span= event.event_type_name

        - if shared_event?(current_user, event)
          %span.ml-2{ 'data-toggle' => 'tooltip', title: "#{t('event.shared_from')}: #{event.program_name}" }
            = image_tag 'share.png', class: 'icon-share'

    %td= event.location_name

    - codes = %w(number_of_case progress risk_level event_date)
    - codes.each do |code|
      %td
        - fv = event.field_values.select{ |fv| fv.field_code == code }.first
        = fv.try(:html_tag).try(:html_safe) || '-'

    - if current_user.system_admin?
      %td= event.program_name

    %td.text-right
      - if policy(event).update?
        %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %i.fas.fa-ellipsis-v

        .dropdown-menu.dropdown-menu-right
          = link_to edit_event_path(event), class: ['btn dropdown-item', ('disabled' unless policy(event).update?)] do
            %i.fas.fa-pen.drop-menu-icon
            %span= t('shared.edit')

          = link_to event_preview_path(event, format: 'pdf'), class: 'btn dropdown-item', target: '_blank' do
            %i.fas.fa-eye.drop-menu-icon
            %span= t('event.preview_pdf')

      - elsif current_user.program_admin?
        %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %i.fas.fa-ellipsis-v

        .dropdown-menu.dropdown-menu-right
          = link_to event_path(event), method: :delete, data: { confirm: t('event.are_you_sure') }, class: ['btn dropdown-item'] do
            %i.fa.fa-trash.drop-menu-icon
            %span= t('shared.delete')
