%ul.list.flex1
  %li
    %span.type Event Type:
    %span.value= @event.event_type_name
  %li
    %span.type Location:
    %span.value= @event.location_name(reverse=true)

  - @event.field_values.each do |fv|
    %li
      %span.type= fv.field_name
      %span.value
        - if fv.field_type == 'file'
          = link_to fv.file_url.split('/').last, download_events_path(file: fv.file_url), target: "_blank", style:'color: #007bff'
        - elsif fv.field_code == 'risk_level'
          - style = fv.value.present? ? "background-color: #{fv.color}; color: #fff" : ''
          %span.badge{style: style}
            = fv.value || '-'
        - else
          = fv.value || fv.values
