%ul.list.flex1
  %li
    %span.type= "#{t('event.event_type')}:"
    %span.value= @event.event_type_name
  %li
    %span.type= "#{t('event.location')}:"
    %span.value= @event.location_name(reverse=true)

  - @event.milestone.fields.each do |field|
    %li
      %span.type= field.name
      %span.value
        - if fvs = @event.field_values.select{ |fv| fv.field_id == field.id }.presence
          - fvs.each do |fv|
            - if fv.field.tracking? && fv.field_type != 'Fields::IntegerField'
              = fv.html_tag.html_safe
              - logs = @event.logs.text.where(field_id: fv.field_id).to_json
              %a.log-text-modal-trigger.pointer{'data-target' => '#log-text-field', 'data-toggle' => 'modal', 'data-logs' => logs, 'data-title' => fv.field_name}
                %i.far.fa-chart-bar.chart

            - else
              = fv.html_tag.html_safe
        - else
          = '-'

= render 'log_text_field_modal'
