- field_name = option[:field].try(:name).downcase
- error_msg = option[:main_object].errors["#{field_name}"]

.form-group{ class: ('form-group-invalid' if error_msg.present?) }
  = f.hidden_field :field_code, value: option[:field].try(:code)
  = f.hidden_field :field_id, value: option[:field].try(:id)
  = f.file_field :file, class: ['form-control file-input', ('hidden' if f.object.file.present?)]

  - if f.object.file.present?
    .flex-row
      = f.hidden_field :_destroy, class: 'destroy'
      = link_to '#', class: "remove-file", style: f.object.file? ? '' : 'display: none' do
        %i.far.fa-trash-alt

      %small.form-text.text-muted
        = link_to f.object.file_url.split('/').last, download_path(file: f.object.file_url), target: "_blank", style:'color: #007bff'

  - if error_msg.present?
    .invalid-feedback= error_msg.join('; ')
