%form{ action: '/events', method: 'get' }
  .form-row.medium-width
    .col-auto.form-group
      .input-group
        = text_field_tag(:keyword, params[:keyword], class: 'form-control keyword', placeholder: 'filter', id: 'keyword')

        %a#info.input-group-append.pointer{'data-trigger' => 'focus', 'data-content' => option_fields, 'data-toggle' => 'popover', 'data-html' => 'true', title: "#{t('event.filter_results_that_contain')}: ", href: '#'}
          .input-group-text
            %i.fas.fa-info

      %small.text-muted= t('event.filter_example')

    .col-auto
      = submit_tag(t('event.search'), class: 'btn btn-light')

    .flex1.btn-download-csv
      = link_to t('event.download_csv'), download_events_path(keyword: params[:keyword]), target: :_blank, class: 'btn btn-outline-info'
