%form{ action: '/events', method: 'get' }
  .form-row.medium-width
    .col-auto.form-group
      .input-group
        = text_field_tag(:keyword, params[:keyword], class: 'form-control keyword', placeholder: t('event.keyword'), id: 'keyword')

        %a#info.input-group-append.pointer{'data-trigger' => 'focus', 'data-content' => option_fields, 'data-toggle' => 'popover', 'data-html' => 'true', title: "#{t('event.filter_results_that_contain')}: ", href: '#'}
          .input-group-text
            %i.fas.fa-info

      %small.text-muted= t('event.filter_example')

    = render 'filter_date'

    .col-auto
      %button.btn.btn-light{type: :submit}
        %i.fas.fa-search
        = t('event.search')

    - if policy(Event).download?
      .flex1.btn-download-csv
        %button.btn.btn-outline-info{"data-target" => "#template-model", "data-toggle" => "modal", :type => "button"}
          %i.fas.fa-download
          = t('event.download_csv')

      / Modal
      #template-model.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5#template-modelLabel.modal-title= t('event.download_event')
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body

              - if @templates.present?
                .form-group.mb-2
                  %label{ for: :event_event_type }= "#{t('event.please_select_template')}:"
                  = select_tag 'template_id', options_for_select(@templates.pluck(:name, :id), params[:template_id]), include_blank: false, class: 'form-control'

              - else
                .text-center= t('event.require_template')
                - if policy(::Template).create?
                  .text-center
                    %span= t('event.click_here_to_create_template', url: new_template_path).html_safe

            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= t('shared.cancel')
              - if @templates.present?
                = link_to download_events_path, target: :_blank, class: 'btn btn-primary btn-download' do
                  %i.fas.fa-download
                  = t('event.download_csv')

:javascript
  params = {
    keyword: "#{params[:keyword]}",
    start_date: "#{params[:start_date]}"
  }
