.w-50.view-center.event-form-wrapper
  = simple_form_for @event, class: 'event-form' do |f|
    = f.input :event_type_id, label: t('event.suspected_event_type'), collection: @event_types
    = f.input :link_uuid, label: t('event.link_to_event')

    - @event.milestone.sections.each do |section|
      %fieldset.section{class: ('not-section' unless section.display?)}
        %legend= section.name

        - section.fields.entry_able.each do |field|
          - obj = @event.field_values.select{ |a| a.field_id==field.id }.first || f.object.field_values.new

          - if ['province_id', 'district_id', 'commune_id', 'village_id'].include?(field.code)
            = f.fields_for :field_values, obj do |builder|
              = render "events/fields/#{field.code}", field: field, f: builder, main_object: @event

          - elsif field.field_type == 'Fields::FileField'
            = render "events/fields/#{field.kind}", field: field, f: f

          - else
            = f.fields_for :field_values, obj do |builder|
              = render "events/fields/#{field.kind}", field: field, f: builder, main_object: @event

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), events_path, class: 'btn btn-secondary'

= render 'link_event_modal'
