.w-50.view-center
  = simple_form_for @event do |f|
    = f.input :event_type_id, collection: @event_types

    - current_program.milestones.root.fields.entry_able.each do |field|
      - obj = @event.field_values.select{ |a| a.field_id==field.id }.first || f.object.field_values.new

      = f.fields_for :field_values, obj do |builder|
        - if ['province_id', 'district_id', 'commune_id', 'village_id'].include?(field.code)
          = render "events/fields/#{field.code}", field: field, f: builder, main_object: @event
        - else
          = render "events/fields/#{field.kind}", field: field, f: builder, main_object: @event

    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Cancel', events_path, class: 'btn btn-secondary'
