.d-flex.flex1
  / Back button
  %div
    = render 'shared/back_button', url: events_path

  / title
  .flex1
    .flex-row-vertical-center.line-badge{ style: "border-color: #{@event.event_type_changed? ? @event.conclude_event_type_color : @event.event_type_color}" }

      %span.mr-2= @event.uuid

      = letter_badge(@event.event_type_color, @event.event_type_name[0]).html_safe

      %h4.mb-0= "#{@event.event_type_name} "

      - if @event.event_type_changed?
        %i.fas.fa-long-arrow-alt-right.mr-2.ml-2

        = letter_badge(@event.conclude_event_type_color, @event.conclude_event_type_name[0]).html_safe

        %h4.mb-0
          = @event.conclude_event_type_name

      %h4.mb-0
        = render 'events/show/tracing_number_field_modal', traceable: @event

      .ml-2= @event.field_values.select{ |fv| fv.field_code == 'progress' }.first.try(:html_tag).try(:html_safe)

      = render 'btn_download_risk_assessment_guideline'

    / Short Description
    %small.text-muted.text-sm
      = "#{t('event.event_date')}: #{l(@event.event_date)}"
      = "; #{t('event.entry_by')}: #{creator_info_tooltip(@event.creator)}".html_safe if @event.creator.present?
