#link-event-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Link Event
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_tag search_events_path, method: 'get', id: 'form_search', remote: true do |f|
          .form-group
            = text_field_tag :search, params[:search], class: 'form-control', placeholder: t('event.search_link_event')

        .event-wrapper
          .event-list

          .loading.text-center.d-none
            = image_tag 'loading.gif'

        #div_next_link
          = render 'next_link'
      .modal-footer
        %button.btn.btn-secondary.btn-reset{:type => "button", "data-dismiss" => "modal"}= t('shared.reset')
