- content_for :header_title do
  = t('event.event')

= render 'events/index/topbar'
= render 'events/index/nav_tabs'
= render 'events/index/filter'

.card.shadow.mb-4
  .card-body
    = render 'shared/no_data', items: @events

    - if @events.present?
      = render 'shared/pagination_title', name: t('event.event')

      %table.table.table-hover.medium-width
        %thead
          %tr
            %th= t('event.id')
            %th= t('event.suspected_event_type')
            %th= t('event.location')
            %th= t('event.number_of_case')
            %th= t('event.progress')
            %th= t('event.risk_level')
            %th= t('event.onset_date')

            - if current_user.system_admin?
              %th= t('event.owner')

            %th

        %tbody#body-content
          = render 'events'

      = render 'shared/pagination'

= render 'events/follow_ups/modal'
