#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3 Event
      - if policy(Event).create?
        = link_to new_event_path, class: 'btn btn-primary' do
          %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @events }

  - if @events.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th Event Type
          %th Location
          %th # of Case
          %th Status
          %th Risk Level
          %th Open case date
          %th Owner
          %th
      %tbody
        - @events.each do |event|
          %tr
            %td
              .flex-row-vertical-center
                - if event.event_type_name.present?
                  .small-color{style: "background-color: #{event.event_type_color}"}
                    = event.event_type_name[0]
                %span= link_to event.event_type_name || 'N/A', event_path(event), class: 'btn btn-link'

            %td= event.location_name
            - ['number_of_case', 'status'].each do |code|
              %td
                %span.badge
                  = event.field_values.select{|fv| fv.field_code == code}.first.try(:value) || '-'

            %td
              - risk_level = event.field_values.select{|fv| fv.field_code == 'risk_level'}.first.try(:value)
              - risk_color = event.field_values.select{|fv| fv.field_code == 'risk_color'}.first.try(:value)
              - style = risk_level.present? ? "background-color: #{risk_color}; color: #fff" : ''
              %span.badge{style: style}
                = risk_level || '-'
            %td= l(event.created_at, format: :long)
            %td= event.program_name
            %td
              - if policy(event).update?
                = link_to 'Edit', edit_event_path(event), class: 'badge badge-info'
                = "/"
                = link_to 'Delete', event_path(event), method: :delete, class: 'badge badge-danger', :data => {confirm: 'Are you sure to delete this event?'}

  - if @pagy.pages > 1
    .pagy-wrapper
      != pagy_bootstrap_nav(@pagy)
