#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('event.event')
      - if policy(Event).create?
        = link_to new_event_path, class: 'btn btn-primary' do
          %i.fas.fa-plus
  = render 'filter'
  = render partial: "shared/no_data", locals: { items: @events }

  - if @events.present?
    .pagy-wrapper
      .flex-row.flex1
        .flex1.flex-row-vertical-center
          = "#{t('event.displaying_events')} <b>&nbsp;#{@pagy.from} - #{@pagy.to}&nbsp;</b> #{t('event.of')} <b>&nbsp;#{@pagy.count}&nbsp;</b> #{t('event.in_total')}".html_safe

        - if @pagy.pages > 1
          != pagy_bootstrap_nav(@pagy)

    %table.table.table-hover.medium-width
      %thead
        %tr
          %th= t('event.id')
          %th= t('event.event_type')
          %th= t('event.location')
          - codes = %w(number_of_case progress risk_level event_date)
          - current_program.milestones.root.fields.where(code: codes).each do |field|
            %th= field.name

          %th= t('event.owner')
          %th

      %tbody#body-content
        = render 'events', codes: codes

    - if @pagy.pages > 1
      .pagy-wrapper
        != pagy_bootstrap_nav(@pagy)
