#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3 Event
      - if policy(Event).update?
        = link_to new_event_path, class: 'btn btn-primary', "data-target" => '#exampleModal', 'data-toggle' => 'modal' do
          %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @events }

  - if @events.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th Event Type
          %th Location
          %th Value
          %th Description
          %th
      %tbody
        - @events.each do |event|
          %tr
            %td= link_to event.event_type_name, event_path(event), class: 'btn btn-link'
            %td= event.address
            %td= event.value
            %td= event.description
            - if policy(Event).update?
              %td
                = link_to 'Edit', edit_event_path(event), class: 'badge badge-info'
                = "/"
                = link_to 'Delete', event_path(event), method: :delete, class: 'badge badge-danger', :data => {confirm: 'Are you sure to delete this event?'}

= render 'event_types_modal'
