- content_for :custom_header_title do
  = render 'header'

#contents
  .flex-row
    - if policy(@event).update?
      = render "events/show/event_progress", event: @event
    - else
      = render "events/show/close_event_progress", event: @event

    = render 'events/show/event_info'

    = render 'events/show/map'
