#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= @event.event_type_name
      %div
        = link_to t('event.back'), events_path, class: 'btn btn-info'

  .flex-row
    = render 'event_info'
    = render 'event_progress', event: @event
    = render 'map'
