.d-flex
  %div
    = render 'shared/back_button', url: event_path(@event)

  .flex1
    %h4.mb-0
      ="#{@event.event_type_name}: #{@event_milestone.milestone.name} "
      = render 'events/show/tracing_number_field_modal', traceable: @event_milestone

    - if conducted_date = @event_milestone.fv_conducted_at.presence
      %small.text-muted.text-sm
        = "#{conducted_date.field.name}: #{conducted_date.html_tag}".html_safe

        = "; #{t('event.entry_by')}: #{creator_info_tooltip(@event_milestone.submitter)}".html_safe if @event_milestone.submitter.present?


