#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3
        ="#{@event.event_type_name}: #{@event_milestone.milestone.name} "
        = render 'events/tracing_number_field_modal', traceable: @event_milestone
      %div= link_to 'Back', event_path(@event), class: 'btn btn-info'

  %ul.list.flex1
    - @event_milestone.milestone.fields.each do |field|
      %li
        %span.type= field.name
        %span.value
          - if fvs = @event_milestone.field_values.select{ |fv| fv.field_id == field.id }.presence
            - fvs.each do |fv|
              = fv.html_tag.html_safe

              - if fv.field.tracking? && fv.field_type != 'Fields::IntegerField'
                %a.tracing-text-modal-trigger.pointer{'data-target' => '#log-text-field', 'data-toggle' => 'modal', 'data-tracings' => @event_milestone.tracings.text.where(field_id: fv.field_id).to_json, 'data-title' => fv.field_name}
                  %i.far.fa-chart-bar.chart
          - else
            = '-'

= render 'events/tracing_text_field_modal'
