- content_for :custom_header_title do
  = render 'header'

#contents
  %ul.list.flex1
    - @event_milestone.milestone.sections.each do |section|
      %fieldset.section{class: ('not-section' unless section.display?)}
        %legend= section.name

        - if @event_milestone.milestone.final? && section.default?
          %li
            %span.type= t('event.conclude_event_type')
            %span.value= @event_milestone.event.conclude_event_type_name || '-'

        - section.fields.except_fields.each do |field|
          %li{data: skip_logic_data(field)}
            %span.type= field.name
            = render 'events/show/field_value', field: field, main_object: @event_milestone

    %li
      %span.type= t('event.created_date')
      %span.value= l(@event_milestone.created_at)

    %li
      %span.type= t('event.updated_date')
      %span.value= l(@event_milestone.updated_at)

= render 'events/show/tracing_text_field_modal'
