#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3
        ="#{@event.event_type_name}: #{@event_milestone.milestone.name} "
        = render 'events/show/tracing_number_field_modal', traceable: @event_milestone
      %div= link_to 'Back', event_path(@event), class: 'btn btn-info'

  %ul.list.flex1
    - @event_milestone.milestone.fields.each do |field|
      %li
        %span.type= field.name
        = render 'events/show/field_value', field: field, main_object: @event_milestone

= render 'events/show/tracing_text_field_modal'
