- content_for :header_title do
  = t('help.telegram_account')

.card.shadow.mb-4.medium-width
  .card-body
    %p= t('help.you_can_connect_telegram_account')

    %div
      %h5= t('help.open_telegram_app')
      %label= t('help.search_bot_name')
      %div= image_tag 'telegram_account/search_bot.png', class: 'image'

    %div
      %h5= t('help.open_chat')
      %label= t('help.to_chat_with_bot')
      %div= image_tag 'telegram_account/click_on_start.png', class: 'image'

    %div
      %h5= t('help.bot_welcome')
      %label= t('help.bot_reponse_welcome')
      %div= image_tag 'telegram_account/bot_welcome.png', class: 'image'

    %div
      %h5= t('help.connect_your_account')
      %label= t('help.bot_connect_instruction').html_safe

      %h5.mt-3= t('help.insert_command')
      %div= image_tag 'telegram_account/connect_command.png', class: 'image'

      %label= t('help.insert_wrong_info')
      %div= image_tag 'telegram_account/wrong_info.png', class: 'image'

      %label= t('help.insert_right_info')
      %div= image_tag 'telegram_account/right_info.png', class: 'image'

    %div
      %h5= t('help.how_to_disconnect_account')
      %label= t('help.way_to_disconnect')
      %ul
        %li= t('help.open_telegram_app')
        %li= t('help.search_bot_name')
        %li
          = t('help.insert_command')
          %code /disconnect phone_number_or_email province_name_or_code

      %div= image_tag 'telegram_account/disconnect.png', class: 'image'
