.dotted-line.flex-row
  %label.flex1
    = t('program.interval_follow_up')

    - follow_up = current_program.interval_follow_up
    - if follow_up.present? && follow_up.enabled?
      %i.far.fa-check-circle.icon-green{'data-toggle'=> 'tooltip', title: t('program.enabled')}
    - else
      %i.far.fa-times-circle.icon-red{'data-toggle'=> 'tooltip', title: t('program.disabled')}

  .d-flex
    - if follow_up.present? && follow_up.enabled?
      - follow_up.channels.each do |ch|
        %span.mr-2{'data-toggle' => 'tooltip', 'data-title' => t("program.#{ch}")}
          = send("icon_#{ch}").html_safe

    %div
      = link_to t('shared.edit'), interval_follow_up_path, remote: true, class: 'pointer badge badge-info text-white', 'data-target' => '#interval-follow-up', 'data-toggle' => 'modal'

  = render 'programs/interval_follow_ups/modal'
