= simple_form_for current_program, url: '/setting', method: :put, class: 'setting-notification' do |f|
  .dotted-line.d-flex
    %label.flex-grow-1= t('program.telegram_notification_receiver')

    .d-flex.ellipsis.text-right{style: 'width: 35%'}
      - emails = current_program.telegram_notification_receivers.pluck(:email).join(', ')
      .ellipsis{'data-toggle' => 'tooltip', title: emails}= emails
      .ml-1
        %a.pointer.badge.badge-info.text-white{'data-target' => '#telegramNotificationReceiverModal', 'data-toggle' => 'modal'}= t('shared.edit')

    = render 'programs/settings/modals/modal_telegram_notification_receiver', f: f
