= simple_form_for current_program, url: '/setting', method: :put, class: 'setting' do |f|
  .dotted-line.flex-row
    %label.flex1= t('program.unlock_event_duration')
    %div
      = t('program.unlock_event_days', count: current_program.unlock_event_duration)
      %a.pointer.badge.badge-info.text-white{'data-target' => '#unlock-event-duration', 'data-toggle' => 'modal'}= t('shared.edit')

      = render 'programs/settings/modals/modal_unlock_event_duration', f: f
