#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('program.program_settings')

  .w-50.view-center
    = simple_form_for current_program, url: '/setting', method: :put, class: 'setting' do |f|
      .dotted-line.flex-row
        %label.flex1= t('program.telegram_notification')
        = f.input :enable_telegram, label: false, input_html: {id: 'toggle-telegram'}

      .dotted-line.flex-row
        %label.flex1= t('program.language')
        = f.input :language_code, label: false, collection: Program::LANGUAGES, include_blank: false
