- content_for :header_title do
  = t('program.program_settings')

.w-75.view-center
  %div
    %small.text-muted= t('program.general')
    .ml-5
      = render 'logo'
      = render 'unlock_event_duration'
      = render 'map_zoom_level'
      = render 'risk_assessment_guideline'

  %div
    %small.text-muted= t('program.notification')
    .ml-5
      = render 'email_notification'
      = render 'telegram_bot'
      = render 'telegram_notification_receiver'
