.w-50.view-center
  = simple_form_for @event_type do |f|
    = f.input :name, label: t('event_type.name'), disabled: @event_type.default?
    = f.input :color, label: t('event_type.color'), as: :minicolors, input_html: { class: 'color', data: {minicolors: {theme: :bootstrap, position: :right}}}

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), event_types_path, class: 'btn btn-secondary'
