#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3 Event Type
      - if policy(EventType).update?
        = link_to new_event_type_path, class: 'btn btn-primary' do
          %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @event_types }

  - if @event_types.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th Name
          %th Number of Forms
          %th
      %tbody
        - @event_types.each do |event_type|
          %tr
            %td= event_type.name
            %td= event_type.form_types.size
            %td
              = link_to 'Manage Form', event_type_form_types_path(event_type), class: "badge badge-primary"

              - if policy(event_type).update?
                = ' / '
                = link_to 'Edit', edit_event_type_path(event_type), class: "badge badge-info"
                = ' / '
                = link_to 'Delete', event_type_path(event_type), method: :delete, class: "badge badge-danger", :data => {:confirm => 'Are you sure to delete this event type?'}

