- content_for :header_title do
  = t('event_type.event_type')

.d-flex.justify-content-end.mb-3
  = render "shared/add_new_button", path: new_event_type_path, name: t('event_type.event_type') if policy(EventType).update?

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @event_types }

    - if @event_types.present?
      = render 'shared/pagination_title', name: t('event_type.event_type')

      %table.table.table-hover.medium-width
        %thead
          %tr
            %th= t('event_type.name')
            %th= t('event_type.code')
            %th= t('event_type.last_modified')
            %th= t('event_type.guideline')

            - if current_user.system_admin?
              %th= t('event_type.program')
            %th= t('event_type.program_share')
            %th

        %tbody
          - @event_types.each do |event_type|
            %tr
              %td
                .flex-row-vertical-center
                  .small-color{style: "background-color: #{event_type.color}"}
                    = event_type.name[0]
                  %span= event_type.name

              %td= event_type.code
              %td= distance_of_time_in_words(Time.now, event_type.updated_at) + ' ago'
              %td
                - if guideline = event_type.guideline.presence
                  = link_to guideline.file.filename, event_type.guideline_url, class: 'btn btn-link'

              - if current_user.system_admin?
                %td= event_type.program_name

              %td= event_type.program_shareds.collect(&:name).join(', ')

              %td.text-right
                = render 'action_buttons', event_type: event_type

      = render 'shared/pagination'
