.w-50.view-center
  = simple_form_for @medisy do |f|
    = f.input :name, label: t('medisy.name')
    .form-group
      %label
        = t('medisy.url')
        %abbr{:title => "required"} *
        = link_to "Need help?", help_medisies_path, class: 'btn btn-link', target: '_blank'

      = f.input :url, label: false

    = f.input :program_id, label: t('medisy.program'), collection: policy_scope(Program.all), selected: current_program.try(:id)

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), medisies_path, class: 'btn btn-secondary'
