#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('medisy.Medisys')
      - if policy(Medisy).create?
        = link_to new_medisy_path, class: 'btn btn-primary' do
          %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @medisies }

  - if @medisies.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th #
          %th= t('medisy.name')
          %th= t('medisy.feed_url')
          - if current_user.system_admin?
            %th= t('medisy.program')
          %th

      %tbody
        - @medisies.each_with_index do |medi, index|
          %tr
            %td= @pagy.from + index
            %td= medi.name
            %td= medi.url
            - if current_user.system_admin?
              %td= medi.program.name
            %td.text-right
              - if policy(medi).update?
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  = link_to edit_medisy_path(medi), class: "btn dropdown-item" do
                    %i.fas.fa-pen.drop-menu-icon
                    %span= t('shared.edit')

                  - if policy(medi).destroy?
                    = link_to medisy_path(medi), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('medisy.are_you_sure_to_delete')} do
                      %i.fas.fa-trash-alt.drop-menu-icon
                      %span= t('shared.delete')
