%ul.list.flex1.pt-0.px-3.event-bubble
  %li
    %span.type= t('event.suspected_event_type')
    %span.value
      = @event.event_type_name
      = link_to t('event.preview_pdf'), event_preview_path(@event, format: 'pdf'), class: 'text-primary', target: '_blank'
  %li
    %span.type= t('event.location')
    %span.value= @event.location_name

  - if @event.link_uuid.present?
    %li
      %span.type= t('event.link_to_event')
      %span.value= link_to @event.link_uuid, event_path(@event.link_uuid), class: 'text-primary'

  - @event.milestone.sections.each do |section|
    %fieldset.section{class: ('not-section' unless section.display?)}
      %legend= section.name

      - section.fields.except_fields.each do |field|
        %li{data: skip_logic_data(field)}
          %span.type= field.name
          = render 'events/show/field_value', field: field, main_object: @event

  %li
    %span.type= t('event.created_date')
    %span.value= l(@event.created_at, format: :nice)

= render 'events/show/tracing_text_field_modal'
