#map-wrapper
  .btn-groups.text-right
    - if !@event.close? && policy(@event).update? && milestone = current_program.milestones.where(final: true).first.presence

      = link_to t('event.close_event'), new_event_event_milestone_path(event_id: @event.id, milestone_id: milestone.id), class: ['btn btn-danger mb-2', ('disabled' unless @event.verified?)]

  #map{ data: { latlng: @event.location_latlng, event_type: @event.event_type_name, event_fvs: @event.with_field_value.to_json}}

  - if @event.location_latlng.nil?
    .no-data.text-center
      %span= t('shared.no_latlng')

:javascript
  locale = {
    suspected_event: "#{t('event.suspected_event_type')}",
    number_of_case: "#{t('event.number_of_case')}",
    number_of_hospitalized: "#{t('event.number_of_hospitalized')}",
    number_of_death: "#{t('event.number_of_death')}"
  }
