#map-wrapper
  #map{ data: { latlng: @event.location_latlng, event_type: @event.event_type_name, event_fvs: @event.with_field_value.to_json}}

  - if @event.location_latlng.nil?
    .no-data.text-center
      %span= t('shared.no_latlng')

:javascript
  locale = {
    suspected_event: "#{t('event.suspected_event_type')}",
    number_of_case: "#{t('event.number_of_case')}",
    number_of_hospitalized: "#{t('event.number_of_hospitalized')}",
    number_of_death: "#{t('event.number_of_death')}"
  }
