!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= ENV['APP_NAME']
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", :integrity => "sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", :referrerpolicy => "no-referrer", :rel => "stylesheet"}

    = favicon_link_tag asset_path('favicon.png')
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ id: css_class_name }
    #flash
      = render 'shared/notify_message'
    .wrapper
      = render 'shared/sidebar'

      #content.position-relative
        = render 'shared/topbar'

        .container-fluid
          = yield

  / The core Firebase JS SDK is always required and must be listed first
  %script{:src => "https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"}
  %script{:src => "https://www.gstatic.com/firebasejs/8.8.0/firebase-analytics.js"}
  :javascript
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "#{ENV['API_KEY']}",
      authDomain: "#{ENV['AUTH_DOMAIN']}",
      projectId: "#{ENV['PROJECT_ID']}",
      storageBucket: "#{ENV['STORAGE_BUCKET']}",
      messagingSenderId: "#{ENV['MESSAGING_SENDERID']}",
      appId: "#{ENV['APP_ID']}",
      measurementId: "#{ENV['MEASUREMENT_ID']}"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
