!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= ENV['APP_NAME']
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css", :rel => "stylesheet"}
    = favicon_link_tag asset_path('favicon.png')
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.devise-form{ id: css_class_name }
    = render 'shared/notify_message'
    .column
      .wrapper
        = yield
    = render 'devise/shared/footer'
