!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Event Base Surveillance
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('moh-icon.png')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.0/css/all.css", :integrity => "sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", :rel => "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.devise-form{ id: css_class_name }
    = render 'shared/notify_message'
    .column
      .wrapper
        = render 'devise/shared/logo'
        = yield
      = render 'devise/shared/footer'
